.detail-wrap{
    width: 100%;
    height: 100%;
}
.detail-table-title{
    background: #f4f4f4;
    min-height: 42px;
    height: 100%;
    display: flex;
    align-items: center;
    min-width: 154px;
}
.detail-table-value{
    min-height: 42px;
    display: flex;
    align-items: center;
    padding: 0 6px;
}

.detail-table-wrap{
    border: 1px solid #ccc;
}
