.joinWrap{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}
.title{
    width: 100%;
    border-bottom: 1px solid #999999;
}
.joinBox{
    min-width: 500px;
}
.checkBtn{
    background-color: #000;
    color: white;
    width: 90px;
    height: 36px;
    border: none;
}
.checkBtn:hover {
    background-color: #c0c0c0;
    border: none;
}

.loginBtn{
    background-color: #000;
    color: white;
    width: 100%;
    height: 42px;
    border: none;
}
.loginBtn:hover {
    background-color: #c0c0c0;
    border: none;
}
.loginInfo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    color: #999999;
    margin-bottom: 18px;
}

.lfLine{
    border-left: 1px solid #999999;
}
.btnWrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.addBtn{
    background-color: #fff;
    border: 1px solid #333;
    color: #333;
    font-weight: 600;
}
.addBtn:hover {
    background-color: #c0c0c0;
    border: none;
}
