.header-wrap{
    height: 52px;
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 10px #e5e5e5;
}

.header-logo{
    padding: 0 30px;
    border-right: 1px solid #999;
    cursor: pointer;
}

.menu-item{
    padding: 0 50px;
    cursor: pointer;
}
